* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100vh;
  width: 100%;
  background-color: #49e198;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  border: 1px solid black;
  width: 90%;
  height: 89%;
  background-color: hsl(123, 85%, 62%);
  border-radius: 20px;
}

header {
  position: relative;
}
.title {
  width: 100%;
  height: fit-content;
  padding: 5px 10px;
  border-bottom: 1px solid black;
}

.title span {
  width: fit-content;
  height: fit-content;
  color: #7a00ff;
  font-size: 25px;
  font-weight: 600;
  text-shadow: 1px 1px #ff0053;
}
main {
  width: 100%;
  height: calc(100% - 39px);
  display: flex;

  /* justify-content: center; */
}
.user-toggle {
  margin: 10px 10px 0px 0px;
  cursor: pointer;
  display: none;
}

.toggle {
  width: 40px;
  height: 4px;
  margin-top: 3px;
  border-radius: 10px;
  background-color: white;
}
.second {
  transition-duration: 500ms;
}

.first-toggle {
  transform-origin: left;
  transform: rotate(45deg);
}

.third-toggle {
  /* transform-origin: left; */
  transform: rotate(-45deg);
}

.users-container {
  width: 50%;
  height: 100%;
  border-bottom-left-radius: 20px;
  z-index: 10;
}

.users {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.user {
  background-color: #29dd86;
  height: 50px;
  display: flex;
  border-bottom: 1px solid black;
  cursor: pointer;
}
.profile {
  height: 100%;
  width: 50px;
}
.profile img {
  width: 100%;
  height: 100%;
}

.name {
  padding-left: 5px;
  width: calc(100% - 50px);
  text-overflow: ellipsis;
  height: 100%;
  overflow: hidden;
}
.name span {
  height: 50%;
  text-overflow: ellipsis;
  font-size: larger;
  font-weight: 500;
}
.messages-section {
  width: 50%;
  height: 100%;
  /* background-color: #9adb50; */
  border-bottom-right-radius: 20px;
  border-left: 1px solid black;
  /* position: relative; */
  overflow: auto;
}
.user-details {
  height: 49px;
}
.msg-user {
  display: flex;
  background-color: #94ef84;
  height: 50px;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 750px) {
  .container {
    width: 99%;
  }
  main {
    display: flex;
    position: relative;
    justify-content: center;
  }
  .user-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: fit-content;
    width: fit-content;
  }
  .users-container {
    /* display: none; */
    transition-duration: 500ms;
    position: absolute;
    top: 0;
    width: 90%;
    height: 70%;
    /* overflow: auto; */
    border-radius: 0;
    background-color: #6cffb8;
    box-shadow: 10px 10px 30px black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .messages-section {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .click-user {
    /* display: none; */
    height: 0%;
    width: 0%;
  }
}

.chat-section {
  position: relative;
  height: calc(100% - 49px);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.chats {
  height: 90%;
  overflow: auto;
}

.sender {
  float: right;
  clear: both;
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  background: #a6f7dc;
  border-radius: 20px;
  margin: 5px 5px;
  max-width: 45%;
  text-wrap: wrap;
  word-wrap: break-word;
}
.reciever {
  float: left;
  clear: both;
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  background: #a6f7dc;
  border-radius: 20px;
  margin: 5px 5px;
  max-width: 45%;
  text-wrap: wrap;
  word-wrap: break-word;
}

.chat-input {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 5px;
  height: fit-content;
}

.chat-input input {
  font-size: 18px;
  width: 83%;
  margin: auto;
  border-radius: 20px;
  border: 1px solid black;
  background-color: hsl(123deg 85% 62%);
  outline: none;
  padding: 2px;
  padding-left: 10px;
}
.chat-input input::placeholder {
  color: black;
}

.send-msg {
  border: 1px solid green;
  outline: none;
  width: fit-content;
  height: fit-content;
  padding: 7px 7px;
  border-radius: 50%;
  background-color: #00ff00;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 5px;
  transition-duration: 500ms;
}
.active {
  background-color: #1b9158;
}
.audio {
  width: 0%;
  height: 0%;
}
